/* VARIÁVEIS */
:root{
    --cor-principal: #0077cc;
    --cor-hover: #00bfff;
    --cor-voltar: #ff6600;
    --cor-fundo: #f1f1f1;
    --cor-texto: #333;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GERAL */
header{
    background-color: var(--cor-principal);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1{
    color: var(--cor-fundo);
}

/*conteúdo*/
main{
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

/*geral*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    scroll-behavior: smooth;
}

/*MENU*/
nav a {
    color: var(--cor-fundo);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover{
color: var(--cor-hover) !important
}

/*VOLTAR*/ 
.voltar {
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: bold;
    transition: 0.3;
}
.voltar:hover{
    color: var(--cor-voltar);
}

/*RODAPÈ*/
footer {
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
    text-align: center;
    padding: 20px;
}